.footer-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-color);
    border-top: 1px solid var(--border-subtle);
    align-items: center;
    justify-content: center;
    color: var(--text-muted);
    padding: 1rem 2rem;
}

.content-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
   
}
.platform-link-container, .support-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
}

.about-app-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.support-container{
    font-size: 0.85rem;
}

a {
    text-decoration: none;
}

.footer-link, .support-link{
    font-size: 0.85rem;
    color: #d8d7dc;
    transition: all 0.2s ease;
}

.footer-link:hover, .support-link:hover{
    color: var(--accent);
    cursor: pointer;
}

.app-logo{
    color: var(--text-primary);
    font-size: 1.6rem;
    font-weight: bolder;
    font-family: var(--font-logo);
}

.platform-title{
    font-size: 0.7rem;
}

.social-conatiner{
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
}

.social-links{
    display: flex;
    gap: 20px;
    
}

.social-links a{
    color: var(--accent);
}

.copyright-container{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--border-subtle);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.content-container section{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.vertical-line{
    margin-top: 10px;
    height: 60px;
    width: 1px;
    border: 2px solid var(--accent);
}

@media (max-width: 500px) {
  .footer-container{
    padding-inline: 1rem;
  }
  .vertical-line{
    border: none;
  }
}

@media (max-width: 400px) {
  .content-container{
    flex-direction: column;
  }
}